@using Nulah.HospitalHelper.Frontend.Models.Bed;
@model BedDetailsViewModel
@if (Model == null || Model.Bed == null)
{
	<h1>Failed to find bed</h1>
}
else
{
	<h1>Bed Details</h1>
	@await Html.PartialAsync("_PartialBedDetail",Model.Bed)
}