@using Nulah.HospitalHelper.Frontend.Models.Bed;
@using Nulah.HospitalHelper.Lib;
@model DischargeFromBedViewModel;
@if (Model == null || Model.Bed == null)
{
	<h1>No bed found</h1>
}
else
{
	<h1>Bed Details</h1>
	@await Html.PartialAsync("_PartialBedDetail",Model)
}